{% extends 'nova_guarulhos/ng_base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1 class="fw-normal lh-1 text-center mb-5" id="titulo">SORTEIO DOS BLOCOS!</h1>
</div>

<main>
    <div class="p-4" id="container-sorteio">
        <h5 class="mt-3 mb-3 font_subtitle text-dark">SELECIONANDO A ORDEM DOS BLOCOS PRESENTES!</h5>

        <div class="d-flex justify-content-center">
            <div id="loadingAnimation" style="display:none;">
                <img src="{% static 'assets/images/sorteio2.gif' %}" alt="Sorteio em andamento...">
            </div>
        </div>

        {% if messages %}
            <ul class="messages text-dark">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if not sorteio_realizado %}
            <form method="post" id="sortearBlocosForm">
                {% csrf_token %}
                <input type="hidden" name="realizar_sorteio" value="1">
                <button type="submit" class="btn btn-primary rounded-pill mt-4 mb-4">Sortear Blocos</button>
            </form>
        {% else %}
            <h5 class="mt-5 mb-3 font_subtitle text-dark">Ordem dos Blocos Sorteados:</h5>
            <ul class="list-group">
                {% for bloco in ordem_blocos %}
                    <li class="list-group-item">{{ bloco }}</li>
                {% endfor %}
            </ul>
            <form method="post" id="sortearBlocosNovamenteForm">
                {% csrf_token %}
                <input type="hidden" name="sortear_novamente" value="1">
                <button type="submit" class="btn btn-primary rounded-pill mt-4 mb-4">Sortear Novamente</button>
            </form>
            <a href="{% url 'ng_adimplentes' %}" class="btn btn-primary rounded-pill mt-4 mb-4">Continuar</a>
        {% endif %}
    </div>
</main>

{% endblock %}
