{% load static %}

        <footer class="py-5">
            <div class="row ms-4">
                <div class="col-6 col-sm-6 col-md-3 mb-3">
                    <h5>Telefone</h5>
                    <p class="">(11)94507-9207</p>
                </div>

                <div class="col-6 col-sm-6 col-md-3 mb-3">
                    <h5>Email</h5>
                    <p class="">contato@sorteionovo.com.br</p>
                </div>

                <div class="col-6 col-sm-6 col-md-3 mb-3">
                    <h5 class="ms-3">Social</h5>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="{% static '/assets/images/insta_icone.svg' %}" width="24" height="24"></a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="{% static '/assets/images/facebook_icone.svg' %}" width="24" height="24"></a></li>
                    </ul>
                </div>

                <div class="col-6 col-sm-6 col-md-3 my-0 py-0">
                    <p>© 2024 Por Adriano Lima<br>Orgulhosamente</p>
                </div>
            </div>
        </footer>