{% load static %}

        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
                <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="{% static '/assets/images/Logo 500x500.svg' %}" class="bi me-2" width="70" height="70" alt="">
                    <span class="fs-4">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <span class="fs-4">Sorteio Novo</span>
                    <span class="fs-4">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                </div>
                <ul class="nav">
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="{% static '/assets/images/insta_icone.svg' %}" width="24" height="24"></a></li>
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="{% static '/assets/images/facebook_icone.svg' %}" width="24" height="24"></a></li>
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="{% static '/assets/images/whats_icone.svg' %}"width="24" height="24"></a></li> 
                </ul>
            </header>
        </div>