{% load static %}
        <div class="background-1">
            <div class="container" id="container-1">
                <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
                    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <img src="{% static '/assets/images/Logo-500x500_transparente.svg' %}" class="bi me-2" width="70" height="70" alt="">
                        <span class="fs-4">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        <span class="fs-4">Sorteio Novo</span>
                        <span class="fs-4">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link" aria-current="page">Home</a></li>
                        <li class="nav-item"><a href="{% url 'solucoes' %}" class="nav-link" aria-current="page">Soluções</a></li>
                        <li class="nav-item"><a href="{% url 'orcamento' %}" class="btn  btn-white" aria-current="page">Orçamento</a></li>
                    </ul>
                </header>
            </div>
        </div>  