{% extends 'sorteio_novo_institucional/base.html' %}
{% load static %}
{% block content %}        
        <main>
            <div class="row mt-5 margem-up">
                <div class="col-md-3">
                </div> 

                <div class="col-md-6 text-center purpleground">
                        <h1 class="mt-5">Solicite seu Orçamento!</h1>
                        <p class="mb-3">Simplifique Seus Sorteios!</p>
                </div>

                <div class="col-md-3">
                </div>
            </div>

            <div class="row mt-0">
                <div class="col-md-3">
                    <img class="my-image" src="{% static '/assets/images/driver.svg' %}" alt="driver_image">
                </div>

                <div class="col-md-6 purpleground">
                    <!-- Bloco que exibi mensagens -->
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <h5{% if message.tags %} class="{{ message.tags }} mt-5 ms-3"{% endif %}>{{ message }}</h5>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <!-- Fim do bloco de mensagens -->
                    
                    <form method="post" class="mx-5 my-5">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn rounded-circle btn-yellow text-dark wh-100 font_subtitle ">Enviar</button>
                    </form>
                </div>
                
                <div class="col-md-3">
                    <img class="my-image" src="{% static '/assets/images/parking.svg' %}" alt="parking_image">
                </div>
            </div>

            <div class="container row-x">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </main>

{% endblock %}
