{% extends 'sorteio_novo_institucional/base.html' %}
{% load static %}
{% block content %}
        
        <main>
            <div class="container-fluid mb-5" id="container-2">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6 align-items-center">
                        <h1 class=" mb-5 mt-5 pt-3 font_home_h1" id="titulo">Página em construção.....</h1>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <!-- Carrousel de imagem aqui -->
            <div class="" id="container-solucoes"></div>
        </main>

{% endblock %}
